html,
body,
ul,
ul li {
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;
}
body{
    overflow-y: hidden;
    min-width: 1200px;    
}

ul li {
    list-style: none;
}

.g-container-box {
    width: 1200px;
    margin: 0 auto;
    font-size: 0px;
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    bottom: 0px;
    margin: auto;
}

.g-left-box {
    width: 257px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    height: 100%;

    .g-tool-box li {
        width: 100%;
        
       color: #fff;
       /*
        background-color: #337ab7;

        border-color: #2e6da4;
        */
        line-height: 34px;
        text-align: center;
        cursor: pointer;
        border-radius: 4px;
        margin-bottom: 15px;
        transition: all .3s;
        display: none;
    }

    .g-tool-box li:hover {
        background: #26659b;
    }

    .g-group-box {
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 24px;
    }

    .g-body-tree,.g-rubbish-tree{
    	width: 98%;   	
    	border: 1px dashed #eee;
    }
    .g-body-tree{
        height: 100%;
        overflow-y: auto;
    }

    .g-rubbish-tree{
        display: none;
        height: 40%;    
        overflow-y: auto;
        border: 1px dashed #eee;
    }
}

.g-right-box {
    display: inline-block;
    vertical-align: top;
    width: 752px;
    height: 100%;
    font-size: 14px;
    border-left: 1px solid;
    margin-left: 10px;
    padding-left: 15px;

    .title {
        font-size: 24px;
        font-weight: 500;
        color: inherit;
        margin-bottom: 10px;
    }

    .g-child-tree {
        width: 100%;
        height: 80%;
        overflow-y: auto;
        border: 1px dashed #eee;
    	margin-bottom: 10px;
    }

    .g-input-box {
        width: 785px;

        .txt-input {
            width: 680px;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            height: 30px;
            padding-left: 5px;
            display: inline-block;
            border-right: none;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }

    .btn-add {
        width: 85px;
        display: inline-block;
        outline: none;
        border: none;
        border-collapse: separate;
        color: #333;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 34px;
        margin-left: -2px;
        cursor: pointer;
        transition:all .3s;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        vertical-align: top;
    }
    .btn-add:hover{
    	background: #eee;
    }
}